body {
  font-family: "Poppins", "Quicksand", sans-serif;
  background-image: url("../images/bg-cart.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  background-color: rgb(133, 117, 98);
  opacity: 0.8;
  border-radius: 15px;
}

.nav-wrapper {
  display: flex;
}

.nav-java {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.nav-java:hover {
  color: red;
}

.nav-home {
  margin-left: 50px;
  margin-right: 10px;
  padding: 10px;
  color: black;
}

.nav-home:hover {
  color: white;
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

a:hover {
  border-radius: 4px;
  color: rgb(169, 149, 123);
}

h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  color: rgb(34, 23, 23);
}

h3 {
  text-align: center;
}

.product-column-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
}

.product-column {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 120px;
  margin-top: 50px;
  padding: 10px;
  border: 2px solid black;
  width: 900px;
  background-color: #1f3933;
  color: white;
  border-radius: 10px;
}

.product-items-wrapper {
  display: grid;
  justify-items: center;
  align-items: center;
}

.product-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 120px;
  text-align: center;
  justify-items: center;
  padding: 10px;
  width: 900px;
  border: 2px solid black;
  display: grid;
  text-align: center;
  justify-items: center;
  background-color: white;
  opacity: 0.8;
  border-radius: 10px;
}

.product-text {
  display: flex;
  align-items: center;
}

.product-customizations {
  margin-top: 5px;
}

.quantity-buttons > input {
  width: 55px;
  height: 16px;
  border: none;
  justify-items: center;
  align-items: center;
}

#checkout-button {
  display: grid;
  justify-items: center;
}

#checkout {
  width: 150px;
  height: 60px;
  margin-top: 150px;
  font-size: 20px;
  color: #1f3933;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.remove {
  display: grid;
  align-items: center;
}

.remove > button {
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  height: 30px;
  text-align: center;
}

input {
  text-align: center;
}

#sub-quantity-button,
#add-quantity-button {
  width: 25px;
  height: 20px;
  text-align: center;
}

.quantity-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#input-quantity {
  font-size: 17px;
}

.mmaterial-icons {
  text-align: center;
}
